<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <td [class.warning]="satellite.shouldShowWarning()">{{satellite.type}}</td>
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.launchDate}}</td>
    </tr>
</table>


 <!-- <div class="search-form">

        
        
      
        <label>Search: <input (keyup.enter)="search(searchTerm.value)" type="text" name="searchTerm" id="searchField" /></label>
        <button name="query2" id="searchButton" (click)="search(searchTerm)">Search</button>
      </div>  -->
<!-- <app-orbit-list [satellites]="displayList"></app-orbit-list> -->

<!-- Add an Angular click handler that calls sort('name') to the Name <th> element. 
Note that the sorting feature will NOT work until you have completed step 3. -->
 

<tr *ngFor="let policy of policies">
    <td>{{policy.id}}</td>
    <td>{{policy.name}}</td>
    </tr>